<div class="main-content" id="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste Des Clients</h4>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <form class="form-inline my-2 my-lg-0">
                                <input type="search" (ngModelChange)="searchClient(key.value)" #key="ngModel" ngModel
                                name="key" id="searchName" class="form-control mr-sm-2" placeholder="Recherche Clients..." required>
                                <a disabled  type="icon" >
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </a>
    
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                            <thead class=" text-primary text-center">
    
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Prenom
                                </th>
                                <th>
                                    Genre
                                </th>
                                <th>
                                    Adresse
                                </th>
                                <th>
                                    Telephone
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Pays
                                </th>
                                <th>
                                    Ville
                                </th>
                                <th>
                                    Code Postal
                                </th>
                                <th>
                                    Date Naissance
                                </th>
                             
                                <th>
                                    Modifier/Supprimer
                                </th>
                            </thead>
                            <tbody>
                            <tr *ngFor="let client of clients" class="th-actions text-center">
    
                            <th >{{client?.nomUser}}</th>
                            <th >{{client?.prenomUser}}</th>
                            <th >{{client?.genreUser}}</th>
                            <th >{{client?.adresseUser}}</th>
                            <th >{{client?.telUser}}</th>
                            <th >{{client?.emailUser}}</th>
                            <th >{{client?.statusUser}}</th>
                            <th >{{client?.paysUser}}</th>
                            <th >{{client?.villeUser}}</th>
                            <th >{{client?.codePostalUser}}</th>
                            <th >{{client?.dateNaissanceUser}}</th>
                         
                            <th ><div class="th-actions text-center">
                                <a  (click)="onOpenModal(client, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" matTooltip="Modifier" [matTooltipPosition]="'above'"
                                data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                <a (click)="onOpenModal(client, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" matTooltip="Supprimer" [matTooltipPosition]="'above'"data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </div></th>
    
                </tr>
            </tbody>
        </table>
    </div>
    </div>
            </div>
            </div>
            </div>
    <button routerLink='/ajout-client' mat-raised-button  class="btn btn-danger pull-right">ajouter client </button>
            </div>
            </div>
            <!--edit Client-->
    <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="clientEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateClientModalLabel">Modifier Client </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                <div class="form-group">
                    <label for="nomUser">nom</label>
                    <input type="text" ngModel="{{editClient?.nomUser}}" name="nomUser" class="form-control" id="name" placeholder="Name" required>
                </div>
                <input type="hidden" ngModel="{{editClient?.id}}" name="id" class="form-control" id="id" placeholder="Email">
               
               
    
    
                <div class="form-group">
                    <label for="prenomUser">prenom</label>
                    <input type="text" ngModel="{{editClient?.prenomUser}}" name="prenomUser" class="form-control" id="prenomUser" placeholder="prenomUser" required>
                </div>
                <div class="form-group">
                    <label for="dateNaissanceUser">date Naissance</label>
                <input  ngModel="{{editClient?.dateNaissanceUser}}" name="dateNaissanceUser" class="form-control" id="dateNaissanceUser" placeholder="dateNaissanceUser">
                </div>
                <div class="form-group">
                    <label for="genreUser">genre</label>
                    <input type="text" ngModel="{{editClient?.genreUser}}" name="genreUser" class="form-control" id="genreUser" placeholder="genreUser" required>
                </div>
                <div class="form-group">
                    <label for="dateNaissanceUser">date Naissance</label>
                    <input type="date" ngModel="{{editClient?.dateNaissanceUser}}" name="dateNaissanceUser" class="form-control" id="dateNaissanceUser" placeholder="dateNaissanceUser" required>
                </div>
                <div class="form-group">
                    <label for="adresseUser">adresse</label>
                    <input type="text" ngModel="{{editClient?.adresseUser}}" name="adresseUser" class="form-control" id="adresseUser" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="phone">telephone</label>
                    <input type="tel" ngModel="{{editClient?.telUser}}" name="telUser" class="form-control" id="telUser" placeholder="telUser" required>
                    <div class="form-group">
                        <label for="emailUser">email</label>
                        <input type="email"  ngModel="{{editClient?.emailUser}}" name="emailUser" class="form-control" id="emailUser" placeholder="emailUser" required>
                    </div>
                    <div class="form-group">
                        <label for="statusUser">status</label>
                        <input type="text" ngModel="{{editClient?.statusUser}}" name="statusUser" class="form-control" id="statusUser" placeholder="statusUser" required>
                    </div>
    
                </div>
                <div class="form-group">
                    <label for="paysUser">pays</label>
                    <input type="text" ngModel="{{editClient?.paysUser}}" name="paysUser" class="form-control" id="paysUser" placeholder="paysUser" required>
                </div>
                <div class="form-group">
                    <label for="villeUser">ville</label>
                    <input type="text" ngModel="{{editClient?.villeUser}}" name="villeUser" class="form-control" id="villeUser" placeholder="villeUser" required>
                </div>
                <div class="form-group">
                    <label for="codePostalUser">code Postal</label>
                    <input type="number" ngModel="{{editClient?.codePostalUser}}" name="codePostalUser" class="form-control" id="codePostalUser" placeholder="codePostalUser" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                    <button (click)="onUpdateClient(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Sauvgarder</button>
            </div>
        </form>
    </div>
    </div>
            </div>
            </div>
    
            <!-- Delete Modal-->
    <div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Supprimer Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>êtes-vous sûr de vouloir supprimer Client: <span>{{deleteClient?.nomUser}}</span></p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <button (click)="onDeleteClient(deleteClient?.id)" class="btn btn-danger" data-dismiss="modal">Oui</button>
            </div>
        </div>
    </div>
    </div>
            </div>
      
    